<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("aedafb05-43ca-459d-adc8-205ed23af7b5");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
